*{margin:0;
padding:0;}


body{
    background-color: black;
    color:white;
    box-sizing: border-box;

}

h1{
    font-size:40px;
    font-family:"inter", ;

}
.logo{
    width:2.5em;
}


/* .bg-image{
    color:white;
    background-color: black;
    min-height:130vh;
    width:500px;
    background-position: center;
    background-size: border-box;
    position:relative;
    background-repeat: no-repeat;
} */
nav{
    display:flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items:center;

}
nav img{
    width:40px;
}

.nav-links{
    flex:1;
    text-align:right;

}
.twitter-icon{
    width:1.1 rem;
    margin-right:0.5rem;

    opacity: 0.8;
}

.login-icon{
    width:1.5 rem;
    margin-right:0.5rem;
}

.discord-icon{
    width:1.5 rem;
    margin-right:0.5rem;
}
.about-icon{
    width:1.1 rem;
    margin-right:0.5rem;

}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding:8px 12px;
    position:relative;
}

.nav-links ul li a{
    color:white;

    font-size:17px;
    font-family:;
}

.header{
width:100%;
height:80px;
background-color: black;
margin-bottom: 4rem;
}
hr{
    border-style:none;
    border-top-style:dotted;
    border-color:grey;
    border-width:5px;
    width:5%;
    margin: 80px auto 80px auto;
  }
.horizon{
    border-color:grey;
    border-width:30%;
    border-style:double;
    border-top-style: none;
    border-color:grey;
    width:30%;
    margin: auto;
}
h5{
      font-weight: normal;
  }
.title{
      font-family: ;
      padding-left:10px;
  }
.bywho{
    font-family: monospace ;
    padding-left:2px;
}
.first-container{
    width:80%;
    height:80%;
    margin: 50px auto auto auto;
    padding: 100px 50px 50px 50px;
    color:white;
    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    border-radius: 100px;
   
}


.button{
        margin-top:20px;
        background: #000000;
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 15px 20px 15px 20px;
        text-decoration: none;
        float:left;
      }
      
      .button:hover {
        background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #007fd4);
        background-image: -moz-linear-gradient(top, #000000, #007fd4);
        background-image: -ms-linear-gradient(top, #000000, #007fd4);
        background-image: -o-linear-gradient(top, #000000, #007fd4);
        background-image: linear-gradient(to bottom, #000000, #007fd4);
        text-decoration: none;
      
}
.discord-button{
    margin:20px 0px 0px 20px;
    background: #5171ed;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    float:left;
    
  }
  
  .discord-button:hover {
    background: #007fd4;
    background-image: -webkit-linear-gradient(top, #000000, #007fd4);
    background-image: -moz-linear-gradient(top, #000000, #007fd4);
    background-image: -ms-linear-gradient(top, #000000, #007fd4);
    background-image: -o-linear-gradient(top, #000000, #007fd4);
    background-image: linear-gradient(to bottom, #000000, #007fd4);
    text-decoration: none;
  
}

.first-texts{
    width:45%;
    
}
.project-description{
    float:left;
}

.button{
    float:left;
}

.inside-box2{
    width:600px;
    height:400px;
    position:relative;
    bottom:50%;
    left:5%;
    border: white solid 2px;
    border-radius: 4px;
    display:inline-block;
}

.icp-pic{
    width:500px;
    height:auto;
    position:relative;
    left:10%;
    border-radius: 10px;
}
.sub-title{
    width:70%;
    height:20%;
    float:left;
    font-size:60px;
    line-height: 99.9%;
    padding:20px;
}
.box-title{
    position:relative;
    left:80%;
    bottom:6%;
    display:inline-block;
}
.inside-box3{

}

.icp{
    padding-left:50px;
    color:rgba(0,80,231,1);
    text-shadow: #504E4E;

}
.second-container{
    width:100%;
    height: 1000px;
    text-align: center;   
    background-repeat: no-repeat;
    background-position: 0%;
    margin:auto;
    background-image: url("images/bg.png");
    background-size: 1500px auto;
}


.second-title{
    margin:40px;
    padding-bottom: 10px;
    border-bottom: solid 2px silver; 
    width: 50%;
    position:relative;
    left:22%;

}

.second-desc{
    margin-bottom:100px;
}

.courses{
    display:inline-block;
    position:relative;
}

.start-button{
    margin-top:20px;
    background: #000000;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    float: center;
    position:relative;
    top:2rem;
  }
  .start-button:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #007fd4);
    background-image: -moz-linear-gradient(top, #000000, #007fd4);
    background-image: -ms-linear-gradient(top, #000000, #007fd4);
    background-image: -o-linear-gradient(top, #000000, #007fd4);
    background-image: linear-gradient(to bottom, #000000, #007fd4);
    text-decoration: none;
  
}
.start-button-solidity{
    margin-top:20px;
    background: #000000;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    float: center;
    position:relative;
    top:57px;
  }
  
  .start-button-solidity:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #007fd4);
    background-image: -moz-linear-gradient(top, #000000, #007fd4);
    background-image: -ms-linear-gradient(top, #000000, #007fd4);
    background-image: -o-linear-gradient(top, #000000, #007fd4);
    background-image: linear-gradient(to bottom, #000000, #007fd4);
    text-decoration: none;
  
}

.boxes{
    display:inline-block;
    position:relative;
  

}


.box1{
    width:360px;
    height:215px;
    background-color: white;
    color:#504E4E;
    display:inline-block;
    margin:1rem;
    border-radius:10px;
}

.box2{
    width:360px;
    height:215px;
    background-color: white;
    color:#504E4E;
    display:inline-block;
    position:relative;
    right:4px;
    margin:1rem;
    border-radius:10px;
}

.box3{
    width:360px;
    height:215px;
    background-color: white;
    color:#504E4E;
    display:inline-block;
    position:relative;
    bottom:24px;
    right:10px;
    margin:1rem;
    border-radius:10px;

}
.courses-pic{
    position:relative;
}

.nutshells{
    text-align: center;
    margin:10px;
    color:#242424;
}
.html{
    width:360px;
    height:215px;
    display:inline;
    float:left;
    margin:1rem 1rem 0px 1rem;
  
}

.react{
    width:360px;
    height:215px;
    display:inline;
    float:left;
    margin:1rem 1rem 0px 1rem;
}
.solidity{
        width:360px;
        height:215px;
        display:inline;
        float:left;
        margin:1rem 1rem 0px 1rem;
    
}
.third-container{
    width:100%;
    height: 1000px;
    margin:auto;

}
.third-desc{
    text-align:center;
    position:relative;
    bottom:30px;
    margin:0px auto 0px auto;
}

.forth-container{
    width:100%;
    height: 900px;
    margin:auto;
    


}

.third-forth-container{
   
        width:100%;
        height: 1000px;
        text-align: center;   
        background-repeat: no-repeat;
        background-position: left 20%;
        margin:auto;
        background-image: url("https://images.unsplash.com/photo-1652353292901-c9b06631b231?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
        background-size: 50%;
    }

a{
    text-decoration: none;
}

.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

.third-container{
    text-align: right;
    height:1000px;
    text-decoration: none;
  
}

.choose-track{
    text-align: center;
    padding:2em;
    margin-bottom:40px;
    margin:40px;
    padding-bottom: 10px; 
    border-bottom: solid 2px silver; 
    width: 40%;
    position:relative;
    left:22%;


}
.icon1{
    width:3rem;
    position:relative;
    left:15%;
    top:25%;
    float:left;
    color:white;
    opacity:50%;

}
.icon2{
    width:3rem;
    position:relative;
    left:15%;
    top:25%;
    float:left;
    color:white;
    opacity:50%;

}
.flower{
    width:3rem;
    position:relative;
    left:25%;
    bottom:50%;
    float:left;
    color:white;
    opacity:70%; 

}

.frontend-dev{
    width:800px;
    height:100px;
    background-color: #374FFF;
    position:relative;
    margin:auto;
    border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(to right, rgb(143, 44, 255) 13%, rgb(64, 149, 254) 100%, rgba(252,252,252,1) 100%);
    font-family:'Courier New', Courier, monospace;
}
.frontend-designer{
    width:600px;
    height:100px;
    background-color: #374FFF;
    position:relative;
   margin-left:560px;
   border-radius: 10px;
   background: linear-gradient(to right, rgb(6, 172, 255) 13%, rgb(107, 152, 220) 100%, rgba(252,252,252,1) 100%);
   font-family:'Courier New', Courier, monospace;
}
.backend-dev{
    width:800px;
    height:100px;
    background-color: #374FFF;
    position:relative;
    margin:auto;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(6, 172, 255) 13%, rgb(107, 152, 220) 100%, rgba(252,252,252,1) 100%);
    font-family:'Courier New', Courier, monospace;
    
}

.butterfly{
    display:inline;
    float:left;
    width:5rem;
    position:relative;
    left:330px;
    top:455px;
    transform: rotate( -45deg );

}


.space{
    width:100%;
    height:2em;
    background-color:black;
    display:hide;
}

.text{
    padding: 1.7rem 1.5rem 0rem 0rem;
}
.forth-container{
    height:1000px;
    background: #000000;

}
.getsupport{
    margin:100px auto 70px auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 2px silver; 
    width:50%;
}
.description{
    text-align: center;
    margin-bottom:70px;
}


.list-of-support ul{
    text-align: center;
  
}
.list-of-support ul li{
    display: inline-block;
    margin:30px 0px 30px 40px;
    width:230px;
}


.forth-container{
    width:100%;
    margin:auto;
    position:relative;
  
}

.mini-boxes{
    position:absolute;
    left:25%;

}

.minibox1{
    width:260px;
    height:130px;
    background-color: #636363;
    margin:20px;
    border-radius: 5px;
    position:relative;
    right:90px;
    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.minibox2{
    width:260px;
    height:130px;
    background-color: #636363;
    margin:20px;
    border-radius: 5px;
    position:relative;
    right:90px;
  
    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.minibox3{
    width:260px;
    height:130px;
    background-color: #636363;
    margin:20px;
    border-radius: 5px;
   position:relative;
    right:90px;
    
    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

}
.minibox4{
    width:260px;
    height:130px;
    background-color: #636363;
    margin:20px;
    position:relative;
    left: 230px;
    bottom:510px;
    border-radius: 5px;
    margin-left: 1.35rem;
    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.minibox5{
    width:260px;
    height:130px;
    background-color: #636363;
    margin:20px;
    position:relative;
    left: 230px;
    bottom:510px;
    border-radius: 5px;
    margin-left: 1.35rem;

    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.minibox6{
    width:260px;
    height:130px;
    background-color: #636363;
    margin:20px;
    position:relative;
    left: 230px;
    bottom:510px;
    border-radius: 5px;
    margin-left: 1.35rem;

    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

}
.minibox7{
    width:260px;
    height:130px;
    background-color: #636363;
    margin:20px;
    position:relative;
    left: 530px;
    bottom:1020px;
    border-radius: 5px;
    margin-left: 2rem;
  
    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

}
.minibox8{
    width:260px;
    height:130px;
    background-color: #636363;
    margin:20px;
    position:relative;
    left: 530px;
    bottom:1020px;
    border-radius: 5px;
    margin-left: 2rem;
   
    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.minibox9{
    width:260px;
    height:130px;
    background-color: #636363;
    margin-left: 2rem;;
    position:relative;
    left: 530px;
    bottom:1020px;
    border-radius: 5px;
  
    background: linear-gradient(rgba(95,121,248,1) 13%, rgba(94,187,254,1) 100%, rgba(252,252,252,1) 100%);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}



/* course-page */

.left-container{
    width:40%;
    height:2000px;
    float:left;
    margin:auto;
    margin-top:2rem;
}

.left-title{
    font-size:32px;
    width:70%;
    margin:auto;
}
.left-list{
    width:70%;
    margin:auto;
    list-style: none;
    padding-top:1.5em;
    line-height: 2rem;

}


.key-takeaway li {
    list-style-type: square;
 
  }

  
.react-banner{
    width: 50%;
    height:250px;
    margin:auto;
    position:relative;
    
    border-radius: 5px;

}
.course-texts{
    width:90%;
    padding:1.5rem;
    position:relative;
    
}
.key-takeaway{
    padding:30px 0px 0px 100px;
    line-height: 2;
    font-size:large;

}


.course-intro{
    padding-top:1.5rem;
}

.track-page{
    background-color: white;
}
.track-header{
    background-color: black;
    width:100%;
    height:90px;

}
.track-page{}
.tracks{
    padding:2.5rem;
    color:black;
    display:inline-block;
    position:relative;
    left:25%;
}

.titles{

    padding:1rem;
}



